<div class="login-container">
    <div class="card login-card">
        <div class="text-center mb-5">
            <img
                src="assets/layout/images/{{
                    layoutService.config().colorScheme === 'light'
                        ? 'invensys-icon-light'
                        : 'invensys-icon-dark'
                }}.png"
                alt="invensys-logo"
                class="full-page-logo"
            />
        </div>
        <div class="p-fluid">
            <div class="p-field">
                <button
                    type="button"
                    pButton
                    pRipple
                    label="Log Out"
                    class="p-button-text"
                    (click)="logout()"
                ></button>
            </div>
        </div>
        <div class="p-fluid text-center">
            <div class="p-field mt-3">
                <a
                    href="https://integra-flow.invensys.web.za/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="p-button-text"
                >
                    <strong>Visit Integra Flow</strong>
                </a>
            </div>
        </div>
    </div>
</div>
