<div class="login-container">
    <div class="card login-card">
        <div class="text-center mb-5">
            <img
                [src]="
                    'assets/layout/images/' +
                    (layoutService.config().colorScheme === 'light'
                        ? 'invensys-icon-light'
                        : 'invensys-icon-dark') +
                    '.png'
                "
                alt="invensys-logo"
                class="full-page-logo"
            />
        </div>
        <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <div class="p-field">
                    <p-floatLabel>
                        <input
                            type="password"
                            pInputText
                            formControlName="currentPassword"
                            autocomplete="new-password"
                        />
                        <label for="currentPassword">Current Password</label>
                    </p-floatLabel>
                </div>
                <div class="p-field">
                    <p-floatLabel>
                        <input
                            type="password"
                            pInputText
                            formControlName="newPassword"
                            autocomplete="new-password"
                        />
                        <label for="newPassword">New Password</label>
                    </p-floatLabel>
                </div>
                <div class="p-field">
                    <p-floatLabel>
                        <input
                            type="password"
                            pInputText
                            formControlName="confirmNewPassword"
                            autocomplete="new-password"
                        />
                        <label for="confirmNewPassword"
                            >Confirm New Password</label
                        >
                    </p-floatLabel>
                </div>
            </div>
            <div class="flex flex-row justify-content-end mt-4">
                <button
                    pButton
                    pRipple
                    type="submit"
                    [disabled]="!passwordChangeForm.valid"
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                ></button>
            </div>
        </form>
    </div>
</div>
